.layout {
    display: flex;
}

.recordPanel {
    width: 30%;
    min-width: 210px;
    max-width: 250px;
    height: 100vh;
    background-color: #202123;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.createNewRecordSection {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.createNewRecordButton {
    all: unset;
    width: 100%;
    flex: 1;
    cursor: pointer;
    border: 1px solid #4D4D4F;
    border-radius: 5px;
    color: white;
}

.buttonDecoration {
    font-size: 14px;
    margin-left: 20px;
}

.plusIcon {
    margin-right: 5px;
    fill: white;
    color: white;
}

.recordSection {
    flex: 1;
    width: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 10px 0 10px 0;
}

.recordSection::-webkit-scrollbar-thumb {
    display: none;
}

.recordSection:hover::-webkit-scrollbar-thumb {
    display: block;
}

.settingSection {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
}

.setting {
    padding: 10px;
    background-color: #444654;
    border-radius: 5px;
}

.settingsWide {
    text-align: center;
    flex: 1;
}

.menuIcon {
    width: 22px;
    height: 15px;
    color: white;
}

.contentPanel {
    height: 100vh;
    padding: 10px;
    max-width: 100%;
    flex: 1 1 0%;

    background-color: #343541;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contentMainSection {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.buttonText {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.recordCountContainer {
    padding: 5px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: white;
}