.layout {
    display: flex;
    height: 100vh;
}

.mainContent {
    flex: 1;
    padding: 10px;
}

.menu {
    width: 200px;
    display: flex;
    height: 100%;
    padding: 10px;
}

.setting {
    padding: 10px;
    background-color: #444654;
    border-radius: 5px;
}

.menuIcon {
    width: 22px;
    height: 15px;
    color: white;
}

.saveButton {
    all: unset;
    background-color: rgb(24, 151, 24);
    position: absolute;
    right: 10px;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 70px;
    text-align: center;
}