.upperContainer {
    margin-bottom: 10px;
}

.sectionTitle {
    color: white;
    margin-bottom: 5px;
}

.createModification {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    align-items: center;
}

.createModification > button, select {
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #202123;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.modificationContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modificationBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modificationTitle {
    color: white;
    font-weight: 500;
    font-size: 20px;
}