.sectionTitle {
    color: white;
    margin-bottom: 5px;
}

.createModificationPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    align-items: center;
}

.createModificationPane button,
.createModificationPane select {
    flex-grow: 1;
}

.modificationContainer {
    background-color: var(--section-separator-color);
    box-shadow: -1px -4px 32px 0px rgba(0, 0, 0, 0.164);
    border: var(--secondary-color-border) 1px solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modificationBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}