.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.saveButton {
    all: unset;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    color: white;
}