.imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image {
    flex-basis: 200px;
    max-height: 300px;
    flex-grow: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    vertical-align: top;
}

.post:hover .postOverlay {
    display: flex;
}

.btn {
    all: unset;
    background-color: #202123;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.overlayButton,
.controlsButton,
.extensionContainer {
    display: none;
}

.image:hover .overlayButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
}

.image:hover .controlsButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    gap: 5px;
}

.image:hover .extensionContainer {
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    color: white;
    display: flex;
    gap: 5px;
}

.extension {
    flex-grow: 1;
    background-color: #202123;
    padding: 10px;
    border-radius: 5px;
}

.icon {
    color: white;
    fill: white;
}

.imageFullSizeContainer {
    position: absolute;
    z-index: 1001;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageFullSizeContainer img {
    max-height: 50vh;
    width: auto;
}